.cardContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 .25rem 1px rgba(0, 0, 0, .15);
}

.content{
    padding: 1.5rem 1rem;
}

.paragraph {
    line-height: 150%;
    margin: 0;
}

.cardImg {
    max-height: 20rem;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    aspect-ratio: 1/1

}

.cardTitle {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    color:#1c456e ;
}

.cardTitle:hover{
    color: orange;
}

.rating {
    margin: 0;
    padding-top: 1.5rem;
    color: #4c516d;
    font-size: 0.925rem;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .cardImg{
        max-height:none;
        height: 100%;
    }
.content{
    padding: 1.5rem 2rem;
}

}

@media screen and (min-width: 1024px){
    .cardTitle{
        font-size: 1.325rem;
    }
}