.container {
  width: 95%;
}
.noScroll{
  height: 100vh;
  overflow: hidden;
}

.upper {
  background-image: linear-gradient(to top, #FEFEF1 30%, #FEF7C0 80%, #FEF3B3 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1rem 4rem;
}

.cardContainer,
.containerWrapper {
  display: flex;
  flex-direction: column;

}

.containerWrapper{
  align-items: center;
}

.cardContainer{
  padding: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px){
  .upper {
    justify-content: center;
    align-items: center;
  }

  .container,
  .cardContainer {
    max-width: 50%;
  }

  .cardContainer{
    padding: 0;
  }
}

@media screen and (min-width: 1024px){
  .container
  {
    max-width: 600px;
  }

  .cardContainer{
    max-width: 800px;
  }

  .containerWrapper {
    padding-top: 4rem;
  }

  .upper {
    padding-top: 16rem;
  }


}

